In [2]:
import numpy as np

In [9]:
import pandas as pd

In [4]:
import matplotlib.pyplot as plt

In [5]:
import seaborn as sns

# Importando o dataset e tratando

In [6]:
data = pd.read_csv("./data/dados_dias.csv", sep= ";", skiprows=9)

In [7]:
data.columns

Index(['Data Medicao', 'PRECIPITACAO TOTAL, DIARIO (AUT)(mm)',
       'PRESSAO ATMOSFERICA MEDIA DIARIA (AUT)(mB)',
       'TEMPERATURA DO PONTO DE ORVALHO MEDIA DIARIA (AUT)(째C)',
       'TEMPERATURA MAXIMA, DIARIA (AUT)(째C)',
       'TEMPERATURA MEDIA, DIARIA (AUT)(째C)',
       'TEMPERATURA MINIMA, DIARIA (AUT)(째C)',
       'UMIDADE RELATIVA DO AR, MEDIA DIARIA (AUT)(%)',
       'UMIDADE RELATIVA DO AR, MINIMA DIARIA (AUT)(%)',
       'VENTO, RAJADA MAXIMA DIARIA (AUT)(m/s)',
       'VENTO, VELOCIDADE MEDIA DIARIA (AUT)(m/s)', 'Unnamed: 11'],
      dtype='object')

In [10]:
data = data.drop(columns=['Unnamed: 11'], errors='ignore')

In [14]:
# Renomear as colunas
data.columns = ['Data', 'PrecipitacaoTotalDiaria', 'PressaoMediaDiaria', 'TempPontoOrvalho',
                'TempMaxima', 'TempMedia', 'TempMinima', 'UmidadeMedia', 'UmidadeMinima',
                'VentoRajadaMaxima', 'VentoVelocidadeMedia']

In [15]:
data.head()

,Data,PrecipitacaoTotalDiaria,PressaoMediaDiaria,TempPontoOrvalho,TempMaxima,TempMedia,TempMinima,UmidadeMedia,UmidadeMinima,VentoRajadaMaxima,VentoVelocidadeMedia
0,2009-06-25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,47.0,"8,9",NaN
1,2009-06-26,NaN,"986,7","18,2",29,"21,7",17,"80,4",50.0,"5,2","1,4"
2,2009-06-27,0,"988,4",19,28,"22,6","18,9","81,6",52.0,"7,6","1,7"
3,2009-06-28,0,"987,3","18,8",27,"21,9","19,2","83,5",55.0,"5,9","1,4"
4,2009-06-29,0,"985,3","18,4","28,5","22,3","18,6","80,8",48.0,"5,5","1,3"